.Footer {
  background-color: #333;
  color: white;
  display: grid;
  grid-template-columns:repeat(4,1fr);
  margin-top: 50px;
  border:1.3px solid rgb(182, 182, 182);
  width:100%;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
}

.Footer-bottom {
  border:1.3px solid rgb(182, 182, 182);
}
