.navigation-wrapper {
  background-color: black;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navigation-wrapper > .left-column {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
}

.nav-link {
  width: 70px;
  text-align: center;
  color: white;
  text-decoration: none;
  padding-bottom: 85px;

}

.center-column > .text {
  order: -1;
  color: yellow;
  text-align: unset;
  padding-top: 50px;
  padding-bottom: 0px;
}

.center-column > .links-wrapper a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.links-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 420px;
  height: 70px;
}
.Dropdown {
  width: 70px;
  text-align: center;
  color: grey;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 85px;
  display: flex;
  margin-left: 15px;
}

.Dropdown i {
  margin-top: 18px;
  margin-left: 10px;
}

.right-column {
  display: flex;
  align-items: center;
}

.interact-wrapper {
  display: flex;
  gap: 10px; 
  align-items: center;
}
.interact-wrapper i {
  color:rgba(32, 143, 75, 0.883);
  width: 15px;
  
}

.interact-wrapper > .Search i {
 color:grey;
}

.interact-wrapper button {
  padding: 10px;
  background-color: grey;
  opacity:0.15px;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 3px;
}

.interact-wrapper > .Search {
  color: grey;
  width: 20px; 
  margin-top: 10px;
  margin-bottom: 10px;
}
.interact-wrapper button:focus {
  background-color: rgba(255, 255, 255, 0.2); 
}